/*================== 
Responsive  Container 
====================*/
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*================== 
Responsive  Navbar 
====================*/
/* Small Screen */
@media screen and (max-width: 769px) {
    .navbar {
      height: 75px;
    }
    .navbar .container {
      display: block;
      width: 100%;
      text-align: center;
    }
    .navbar .logo {
      height: auto;
    }
}
/*================== 
Responsive  Header 
====================*/
@media screen and (max-width: 992px){
    header .container {
        flex-direction: column;
    }
    header .landing-text {
        width: 100%;
    }
    header .landing-text h2 {
        font-size: 25px;
        padding-top: 20px;
    }
    header .landing-text p {
        font-size: 17px;
    }
}
/*================== 
Responsive  Our Skills 
====================*/
@media screen and (max-width: 769px) {
  .our-skills .container {
    display: block;
  }
}
/*================== 
Responsive  It Works 
====================*/
@media screen and (max-width: 970px) {
  .it-works .container {
    display: block;
  }
}
/*================== 
Responsive  events 
====================*/
@media screen and (max-width: 970px) {
  .events .sub {
    transform: translate(0 , 0);
    -webkit-transform: translate(0 , 0);
    -moz-transform: translate(0 , 0);
    -ms-transform: translate(0 , 0);
    -o-transform: translate(0 , 0);
  }
}
/*================== 
Responsive  videos 
====================*/
@media screen and (max-width: 970px) {
  .videos .container {
    flex-direction: column;
  }
  .videos .videos-menu {
    border-right: 1px solid #ddd;
  }
}
/*================== 
Responsive  Discount 
====================*/
@media (max-width: 991px) {
  .discount .text-discount {
    flex-basis: 100%;
  }
  .discount .form-discount {
    flex-basis: 100%;
  }
}